

html, body {
    padding:0;
    margin:0;

    overflow-x: hidden
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size: 1.2em;
	line-height: 1.2em;
	/*background: #FDF6E3;*/
	color: #819090;
}

h1, h2, h3, h4, h5, h6 {
  	text-align: center;
}

h1 {
	font-family: 'Bitter', sans-serif;
}

h6 {
	font-size: 1.2em;
	margin-bottom: 0;
	padding-bottom: 0;
}

p {
	margin-top: 0.5em;
}

a {
	color: #BD3613;
}
a:hover {
	color: #819090;
}

image {
	clip-path : url(#clip);
}
tspan {
	font-family: 'Bitter', sans-serif
}

#index {
	background: #FDF6E3;
}

#about, #projects, #contact {
	/*height: 500px;*/
	background: #0A2933;
}

.highlight {
	color: #BD3613;
}

.footer {
	font-size:0.6em;
	width: 100%;
	text-align: center;
}

.sep {
	height: 5px;
	width: 100%;
	background-color: #BD3613;
}

.txt {
	width: 60%;
	margin: auto auto;
	padding: 10px;
}

#root {
	font-size: 2em;
}

#node image, text{
	text-anchor: middle;
	font-size: 1.3em;
	alignment-baseline: middle;

	-webkit-transition: opacity .1s ease-in-out;
    -moz-transition: opacity .1s ease-in-out;
    -o-transition: opacity .1s ease-in-out;
    transition: opacity .1s ease-in-out;
}

#node:hover text {
	opacity: 100;
}

#node:hover image {
	opacity: 0;
}
